{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="accordion" id="accordionExample">
                {% for client in clients %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button purple40 mediumtext darktext" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {{ client.name }}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body purple20">
                            <p><strong>Client ID: </strong>{{ client.client_id }}</p>
                            <p><strong>Client Contact: </strong>{{ client.contact }}</p>
                            <p><strong>Phone: </strong>{{ client.phone }}</p>
                            <p><strong>Email: </strong>{{ client.email }}</p>
                            <p><strong>Address: </strong>{{ client.address}}</p>
                            <p><strong>Current Projects:</strong></p>
                            {% for project in projects %}
                                {% if project.client_id == client.client_id %}
                                <p>{{ project.project_name }}</p>
                                {% else %}
                                <p>No current projects.</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

