{% extends "base.html" %}
{% block content %}
<!--full width container-->
<div class="container-fluid">
    <!--Main Content-->
    <div class="container">
        <!--Edit Client Form-->
        <div class="row mt-5">
            <div class="accordion" id="accordionNewProject">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingReg">
                        <button class="accordion-button green60 mediumtext darktext" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse" aria-expanded="true" aria-controls="collapse">
                            Edit Project
                        </button>
                    </h2>
                    <div id="collapse" class="accordion-collapse collapse show" aria-labelledby="headingReg"
                        data-bs-parent="#accordionNewProject">
                        <div class="accordion-body green40">
                            <form class="" method="POST" action="{{ url_for('edit_project', project_no=project.project_no) }}">
                                <h5 class="card-header darktext largetext mx-auto pt-4 text-center">Project Update</h5>
                                <div class="card-body p-3 p-md-5">
                                    <!--Project Name-->
                                    <div class="mb-2 row">
                                        <div class="col-1 text-center p-0">
                                            <i class="fas fa-briefcase align-middle largeicon"></i>
                                        </div>
                                        <div class="col-11 p-0 px-1">
                                            <input type="text" name="project_name" pattern="^[a-zA-Z0-9-]+[a-zA-Z0-9- ]+" class="form-control text-capitalize"
                                                id="project_name" value="{{ project.project_name }}" minlength="2" maxlength="50" required>
                                        </div>
                                    </div>
                                    <!--Project Description-->
                                    <div class="mb-2 row">
                                        <div class="col-1 text-center p-0">
                                            <i class="fas fa-file-alt align-middle largeicon"></i>
                                        </div>
                                        <div class="col-11 p-0 px-1">
                                            <input type="text" name="project_description" pattern="^[a-zA-Z0-9,-.]+[a-zA-Z0-9,-. ]+" class="form-control"
                                                id="project_description" value="{{ project.project_description }}" minlength="2" maxlength="300" required>
                                        </div>
                                    </div>
                                    <!--Client_Name-->
                                    <div class="mb-2 row">
                                        <div class="col-1 text-center p-0">
                                            <i class="fas fa-id-card align-middle largeicon"></i>
                                        </div>
                                        <div class="col-11 p-0 px-1">
                                            <!-- loops through to get client name based on id and assign selected-->
                                            <select class="form-select text-capitalize" aria-label="Default select example" id="client_id" name="client_id" required>
                                                {% for client in clients %}
                                                    {% if project.client_id == client.client_id%}
                                                    <option value="{{ client.client_id }}" selected>{{ client.name }}</option>
                                                    {% endif %}
                                                <option value="{{ client.client_id }}">{{ client.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!--PM_Name-->
                                    <div class="mb-2 row">
                                        <div class="col-1 text-center p-0">
                                            <i class="fas fa-user align-middle largeicon"></i>
                                        </div>
                                        <div class="col-11 p-0 px-1">
                                            <select class="form-select text-capitalize" aria-label="Default select example" id="manager_id" name="manager_id" required>
                                                {% for employee in employees %}
                                                    {% if project.project_manager_id == employee.employee_id %}
                                                    <option value="{{ employee.employee_id }}" selected>{{ employee.first_name }} {{ employee.last_name }}</option>
                                                    {%  else %}
                                                    <option value="{{ employee.employee_id }}">{{ employee.first_name }} {{ employee.last_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!--Team-->
                                    <div class="mb-2 row">
                                        <div class="col-1 text-center p-0">
                                            <i class="fas fa-users align-middle largeicon"></i>
                                        </div>
                                        <div class="col-11 p-0 px-1">
                                            <select class="form-select text-capitalize" multiple aria-label="multiple select example" id="team" name="team" required>
                                                {% for employee in employees %}
                                                    {% if employee.employee_id in project.team %}
                                                    <option value="{{ employee.employee_id }}" selected>{{ employee.first_name }} {{ employee.last_name }}</option>
                                                    {% else %}
                                                    <option value="{{ employee.employee_id }}">{{ employee.first_name }} {{ employee.last_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <!--Start Date-->
                                    <div class="mb-2 row">
                                        <div class="col-1 text-center p-0">
                                            <i class="fas fa-calendar align-middle largeicon"></i>
                                        </div>
                                        <div class="col-11 p-0 px-1">
                                            <input type="date" name="startdate" class="form-control" id="startdate" value="{{ project.start_date }}"  required>
                                        </div>
                                    </div>
                                    <!--End Date-->
                                    <div class="mb-2 row">
                                        <div class="col-1 text-center p-0">
                                            <i class="fas fa-calendar-times align-middle largeicon"></i>
                                        </div>
                                        <div class="col-11 p-0 px-1">
                                            <input type="date" name="enddate" class="form-control" id="enddate" value="{{ project.end_date }}" required>
                                        </div>
                                    </div>
                                    <!--Fee-->
                                    <div class="mb-2 row">
                                        <div class="col-1 text-center p-0">
                                            <i class="fas fa-euro-sign align-middle largeicon"></i>
                                        </div>
                                        <div class="col-11 p-0 px-1">
                                            <input type="number" name="fee" pattern="^[0-9]{1,5}$" class="form-control"
                                                id="fee" value="{{ project.fee }}" minlength="1" maxlength="10" required>
                                        </div>
                                    </div>
                                    <!--Registration Submit Button-->
                                    <div class="row mt-4">
                                        <div class="col-12 text-center">
                                            <button type="submit"
                                                class="btn btn-purple mediumtext">
                                                Update Project <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

