{% extends "base.html" %}
{% block content %}
<!--Full width container-->
<div class="container-fluid">
    <div class="row px-0">
        <!--heroimage background-->
        <div class="homeimage p-5">
            <div class="herotext p-0">  
                <h1 class="verylargetext text-uppercase">Welcome to Murphy Engineering Company Intranet</h1>
                <hr class="divider">
                <div class="row">
                    <!--Link to login page-->
                    <div class="btn btn-blue col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4 mediumtext">
                        <a class="whitetext btnlink" href="{{ url_for('login')}}">Log In <i class="fas fa-sign-in-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}

{% endblock %}
